@model List<PropertyManagment.Property>
    
<!-- =======Intro Single ======= -->
@{
    var lst = Model;
    string type = Session["TypeManagment"].ToString();
}
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single" style="text-transform: capitalize;">Our Amazing @type </h1>
                    <span class="color-text-a">Grid Properties</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/Home/Index">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page" style="text-transform: capitalize;">
                            @type Grid
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section><!-- End Intro Single-->
<!-- ======= Properties Grid ======= -->


<section class="property-grid grid">
    <div class="container">
        <div class="row">
            @foreach (var item in lst)
            {
            <div class="col-md-4" >
                <div class="card-box-a card-shadow">
                    <div class="img-box-a">
                        <img src="/UploadFiles/@item.ImagePath" alt="" class="img-a img-fluid" style="width:100%; max-height:400px; min-height:400px;">
                    </div>
                    <div class="card-overlay">
                        <div class="card-overlay-a-content">
                            <div class="card-header-a">
                                <h2 class="card-title-a">
                                    <a href="javascript:void(0);">
                                        @item.PropertyNumber @item.Title
                                        <br> @item.Address
                                    </a>
                                </h2>
                            </div>
                            <div class="card-body-a">
                                <div class="price-box d-flex">
                                    <span class="price-a">price | $ @item.Price</span>
                                </div>
                                <div class="price-box d-flex">
                                    <span class="price-a">status @item.Status</span>
                                </div>
                                <a href="/Home/PropertyAdd/@item.Id" class="btn btn-primary">
                                    Modify
                                </a>
                                <a href="/Home/PropertyRemove/@item.Id" class="btn btn-danger">
                                    Remove
                                </a>
                            </div>
                            <div class="card-footer-a">
                                <ul class="card-info d-flex justify-content-around">
                                    @*<li>
            <h4 class="card-info-title">Area</h4>
            <span>
                340m
                <sup>2</sup>
            </span>
        </li>*@
                                    <li>
                                        <h4 class="card-info-title">Beds</h4>
                                        <span>@item.Badroom</span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Baths</h4>
                                        <span>@item.Bathroom</span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Kitchen</h4>
                                        <span>@item.Kitchen</span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Living</h4>
                                        <span>@item.Livingroom</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>